:root {
  font-family: "Edu SA Beginner", cursive;
  background-color: rgb(224, 251, 240);
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 20px;
}

img {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  width: 300px;
  border-radius: 9px;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.heading-info {
  color: white;
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/media/soco-1.jpg");
  background-position: center;
  background-size: cover;
}
