:root {
  font-family: "Edu SA Beginner", cursive;
  background-color: rgb(224, 251, 240);
}
body {
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 20px;
}

img {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  width: 300px;
  border-radius: 9px;
}

.heading-info {
  width: 100%;
  margin: 0 auto;
  background-image: url("/media/soco-1.jpg");
  background-position: center;
  background-size: cover;
}
