:root body {
  font-family: "Edu SA Beginner", cursive;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 20px;
}

img {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  width: 500px;
  border-radius: 9px;
}
